[Unit]
Description=Start Delta Robot GUI in Docker
After=graphical-session.target

[Service]
ExecStart=/home/pi/start-delta-gui.sh
Restart=on-failure

[Install]
WantedBy=default.target
